:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 35px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.9rem;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


/* Reponsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* Test */

.grid_column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid_column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* Animation */

@keyframes animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNoticationGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* form đăng kí */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: animation linear 0.1s;
}

.modal-container__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container__body {
    --growth-from: 0.5;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    animation: growth linear 0.1s;
}


/* button */

.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-size--s {
    height: 32px;
    font-size: 12px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.autho-form__social {
    background-color: #f5f5f5;
    padding: 13px 36px;
    display: flex;
    justify-content: space-between;
}

.autho-form__help {
    display: flex;
    justify-content: flex-end;
}

.autho-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.autho-form__help-separate {
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: 1px 16px 0;
}

.autho-form__help-forgot {
    color: var(--primary-color);
}


/* -----selection--------- */

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    min-width: 200px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list:after {
    position: absolute;
    content: '';
    top: -4px;
    left: 0;
    right: 0;
    /* width: 100%; */
    height: 5px;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    content: "";
    top: 37px;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 1.2rem;
    list-style: none;
    display: none;
    box-shadow: 0 1px 3px #ccc;
    z-index: 1;
}


/* .select-input__item {
    padding: 4px 0px;
} */

.select-input__link {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0px;
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}


/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #e37660;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    border-radius: 2px;
    font-weight: 300;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
}